body{
	font-family:'poppins' ,sans-serif;
	line-height:1.30;
	background-cololr:#f4f4f4;
	color:#rgb(60,58,71)
}
html{
	font-size:17.4px;
}


p{
	margin-bottom:1rem;
}

h1{
	background-color:black;
	color:white;
	font-font-family:time new roman;
	font-weight:bold;
}
h2{
	background-color:blue;
	color:white;
	font-family:time new roman;
	font-weight:bold;
 
 font-style:italic;
}
h3{
	font-size:1rem;
	font-weight:700;
	margin-bottom:1.3;
}
h3 .top{
	font-size:3.15rem;
}

#int{
	background-color:none;
	color:green;
	font-weight:bold; 
	font-family:normal;
}
#ban{
	background-color:none;
	color:brown;
	font-family:time new roman;
	font-weight:bold;
} 
#sky{
	background-color:none;
	cololr:blue;
	font-family:time new roman;
	font-style:italic;
	font-weight:bold;
	font-size:none,
}
#ad{
	background-color:green;
	color:white;
	font-family:time new roman;
	font-size:none;
	font-weight:bold;
}
h4{
	background-color:none;
	color:blue;
	font-weight:bold;
	font-style:italic;
}
/*low*/

#low .boxs img{
	width:150px;
	height:150px;
}
/*DRTY
#bank .bank img{
	width:120px;
	height:120px;
}
*/
h3{
	background-cololr:none;
	color:green;
	font-family:time new roman;
	font-weight:bold;
	font-style:italic;
}
h4{
	background-cololr:none;
	color:brown;
	font-family:time new roman;
	font-weight:bold;
	font-style:italic;
}
h5{
	background-cololr:none;
	color:red;
	font-family:time new roman;
	font-style:italic;
	font-weight:bold;
}
/*ops*/
#blue .top h3{
	background-cololr:none;
	color:biue;
	font-weight:bold;
	font-family:time new roman;
}

/*link*/
#duck{
	font-family:time new roman;
	font-weight:bold;
}
#duck{
	text-decoration:none;
	color:blue;
}
#duck:hover{
	color:red;
}
#top{
	background-cololr:none;
	color:blue;
	font-family:time new roman;
	font-weight:bold;
}
/*header*/
header{
	background:#35424a;
	color:#ffffff;
	padding-top:25px;
	min-height:70px;
	margin-bottom:50px;
	border-bottom:#e8491d 50px solid;
}
header a{
	color:#ffffff;
	text-decoration:none;
	background:#35424a;
	font-size:20px;
}
header li{
	float:left;
	display:inline;
	padding:0 22px 0 23px;
}
header ms{
	float:left;
}
header #h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:10px;
	background:#45424a;
}
header .Highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}
/*vote*/
#vote h1{
	min-height:400px;
	background:url('../images/bb.jpg')
	no-repeat;
	background-position:center;
	background-size:cover;
	text-align:center;
	color:#ffffff;
}
#vote h1{
	margin-top:90px;
	font-size:55px;
	margin-bottom:10px;
	color:blue;
}
#vote p{
	font-size:20px;
}
/*footer*/
footer{
	padding:2.5em;
}
footer{
	text-align:center;
}
footer a:hover{
	color:black;
}
#dady .containers img{
	width:20px;
	height:20px;
}
footer a{
	float:center;
	display:inline;
	padding:0 20px 0 20px;
}
}
#dady .containers p{
	background-cololr:blue;
}

